/* Estilo para o background da landing page */

.body-base {
    background-color: #f0eeec;
}


/* Top name  */

.custom-title {
    color: black;
    font-size: 100%;
    text-decoration: none;
    border: none;
    box-shadow: black;
}


/* Main Nav base style */

.main-nav {
    position: static;
    background-color: red;
    width: 100%;
    height: 50px;
}